*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
}

:root {
				--text-color: white;
				--bg-color: rgba(37, 37, 37, 1);
				--stroke-color: rgba(255, 255, 255, 0.5);
				--surface-color: rgba(255, 255, 255, 0.1);
				--surface-color-hover: rgba(0, 0, 0, 0.02);
				--highlight-color: rgba(255, 255, 255, 0.2);
				
				--switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
				--text-color: black;
				--bg-color: rgba(37, 37, 37, 0.02);
				--stroke-color: rgba(0, 0, 0, 0.5);
				--surface-color: rgba(0, 0, 0, 0.05);
				--surface-color-hover: rgba(0, 0, 0, 0.02);
				--highlight-color: rgba(0, 0, 0, 0.1);
				
				--switch-bg-url: url(./assets/sun.svg);
}

body {
				background: var(--bg-color) center top/cover;
				height: 100vh;
}

body *{
				color: var(--text-color);
				font-family: 'Inter', sans-serif;
}

#container {
				width: 100%;
				max-width: 588px;
				margin: 56px auto 0;
				padding: 0 24px;
}

/*SWITCH*/

#switch {
				width: 64px;
				position: relative;
				margin: 4px auto;
				
}

#switch button {
				height: 32px;
				width: 32px;
				border: 0;
				border-radius: 50%;
				background: #ffffff var(--switch-bg-url) no-repeat center;
				
				position: absolute;
				top: 50%;
				z-index: 1;
				left: 0;
				transform: translateY(-50%);
				
				animation: slide-back 0.3s forwards;
}

.light #switch button {
				animation: slide-in 0.3s forwards;
}

#switch button:hover {
				outline: 8px solid var(--highlight-color);
}

#switch span {
       display: block;
				width: 64px;
				height: 24px;
				background: var(--surface-color);
				border: 1px solid var(--stroke-color);
				backdrop-filter: blur(4px);
				border-radius: 9999px;
}

/* Profile */
#profile {
				text-align: center;
				padding: 24px;
}

#profile img {
				width: 112px;
}

#profile p {
				font-weight: 500;
				line-height: 24px;
			  margin-top: 8px;
}

/* Listas */

ul {
       list-style: none;
       
				display: flex;
				flex-direction: column;
				gap: 16px;
				padding: 24px;
}

ul li a {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 16px 24px;
				
				border: var(--stroke-color);
				background: rgba(90, 90, 255, 1);
				border-radius: 8px;
				backdrop-filter: blur(4px);
				
				color: white;
				
				text-decoration: none;
				font-weight: 500;
				
				transition: background 0.5s;
}
/*
ul li a:hover {
				background: var(--surface-color-hover);
				border: 1.5px solid rgba(79, 76, 255, 1);
}
*/

/* SOCIAL LINKS*/

#social-links {
				display: flex;
				justify-content: center;
				
				padding: 24px 0;
				font-size: 26px;
}

#social-links a {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 16px;
				text-decoration: none;
				
				border-radius: 50%;
				transition: 0.3s;
}

#social-links a i {
				font-size: 22px;
}

#social-links a:hover {
				background: var(--highlight-color);
}

/* Rodapé */

footer {
				display: flex;
				justify-content: center;
				margin: 24px 0;
				font-size: 14px;
}

/*
@media (min-width: 700px){
				:root {
				       --bg-color: url(./assets/bg-desktop.jpg);
				}
				.light {
								--bg-color: url(./assets/bg-desktop-light.jpg);
				} 
}*/

@keyframes slide-back {
				from {
								left: 50%;
				}
				to {
								left: 0%;
				}
}

@keyframes slide-in {
				from {
								left: 0%;
				}
				to {
								left: 50%;
				}
}
